// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~materialize-css/sass/materialize';
@import '~react-toastify/dist/ReactToastify.min.css';
@import '~react-confirm-alert/src/react-confirm-alert.css';


.login-form{
    margin-top: 40px;
}

.strike{
    text-decoration: line-through;
}

.react-confirm-alert-body{
    h1{
        font-size: 20px !important;
    }

    button:first-child{
        background: green;
    }

    button:last-child{
        background: red;
    }
}
